@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--c1);
}

:root {
    --c1: #48483A;
    --c2: #712F79;
    --c3: #276FBF;
    --c4: #74776B;
    --c5: #EBF5EE;
}

.btn {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px;
    background-color: var(--c2);
    color: white !important;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: .4s;
}

.btn i {
  color: currentColor;
}

.btn:hover {
    background-color: #54215a;
}

.mx {
    margin: 20px 0px;
}

body {
    width: 100%;
    background-color: var(--c5);
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    background-color: white;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.226);
    padding: 0px 15px;
    color: var(--c4);
    gap: 3rem;
}


header ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header a {
    text-decoration: none;
    color: var(--c4);
    font-weight: 400;
}

main {
    position: relative;
    width: 100%;
    height: calc(100vh - 50px);
}

section {
    position: absolute;
    top: 10%;
    width: 100%;
    padding-top: 5px;
    margin: auto;
}

section article {
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  display: block;
  width: 100%;
  padding: 8px;
  max-width: 600px;
  margin: auto;
  opacity: 0;
  z-index: 0;
  transition: .4s;
}

section article.active {
  opacity: 1;
  z-index: 10;
}

article h1{
    font-size: 45px;
    color: var(--c2);
}

pre{
    max-width: 90vw;
    font-size: 12px;
    color: var(--c1);
    overflow: auto;
    
}

input[type=text] {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    padding: 5px;
    max-width: 400px;
    outline-color: var(--c2);
}

.div-input {
    position: relative;
    display: flex;
    margin-top: 5px;
    align-items: center;
    gap: 10px;
}

.div-input button {
    height: 100%;
    margin: 0px;
    padding: 10px;
    font-weight: bold;
}

#btnProx {
    font-weight: bold;
    padding: 10px;
    background-color: var(--c3);
}

.resp {
    position: absolute;
    top: -15px;
    font-size: 12px;
    font-weight: 600;
    color: white;
}

.valido {
    background-color: green;
    padding: 0px 10px;
}

.invalido {
    background-color: rgb(128, 0, 0);
    padding: 0px 10px;
}


.div-flex {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}


.div-busc {
  display: flex;
  width: 60%;
  max-width: 400px;
  padding: 1px;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  
}

.div-busc input {
  width: 100%;
  font-size: 1.1rem;
  padding: .3rem;
  border: none;
  outline: none;
}

.div-busc > i {
  font-size: .9rem;
  padding: 0px 5px;
  color: var(--c4);
}

#listaContatos {
  background-color: white;
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin-top: 10px;
}

#listaContatos thead th {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid var(--c2) !important;
}

#listaContatos tbody tr:hover  {
    background-color: rgba(0, 0, 0, 0.212);
    color: white !;
  }

#listaContatos tbody td  {
  padding: 10px;
  text-align: left;
}

#listaContatos tr {
  border-bottom: 1px solid #00000061;
}





dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    padding: 10px;
    border: 1px solid var(--c2);
    border-radius: 15px;
    color: var(--c2);
}

dialog h3 {
    color: var(--c2);
    font-size: 1.5rem;
}

dialog hr {
    margin: 5px;
}

#apagarCont {
    text-decoration: none;
    color: currentColor;
}

dialog ul li {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--c2);
    padding: 8px 10px;
}